@import "../styles/mixins";
@import "../styles/grid";

.menu-spacer {
  flex: 1 1 auto;
}

.profile-toolbar {
  @include mobile() {
    display: none;
  }
}

.profile-sidenav {
  display: none;
  position:absolute;
  bottom:0;
  @include mobile() {
    display: block;
  }
}

.sidenav-content {
  height: calc(100vh - 64px);
  @include mobile() {
    height: calc(100vh - 56px);
  }
}
